body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}

#calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 350px;
    height: 650px;
    background-color: black;
    border-radius: 24px;
    padding: 12px;
    padding-bottom: 50px;
    gap: 12px;
}

#calculator-display {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: blue;
    border-radius: 12px;
}

#results {
    margin-right: 6%;
    color: white;
    font-size: 75px;
}

#calculator-input-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    justify-content: center;
    align-items: space-around;
    background-color: black;
    /* border: 3px yellow solid; */
    border-radius: 12px;
    width: 100%;
    gap: 8px;
}

#calculator-input-container * {
    color: white;
    font-size: 28px;
}

/* .input-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: red;
    aspect-ratio: 1;
    flex-grow: 1;
} */

.input-button {
    aspect-ratio: 1 / 1;
    border: none;
    background-color: rgb(76, 76, 76);
    border-radius: 50%;
}

.number-button {
    background-color: rgb(41, 41, 41);
}

.operator-button {
    background-color: orange;
}

.input-button:hover {
    background-color: white;
}